<html>
    <head><title>youtube queue</title></head>
    <body>
        <p>Is this the video you want to submit?</p>
        <p>Youtube id: <%= @id %></p>
        <% if @vidurl %>
            <p>a wild video appeared!</p>
            <iframe width="560" height="315" src="<%= @vidurl %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
        
        <form action="/confirm/<%= @id %>" method='post'>
            <input type='submit' value='Confirm' />
        </form>
    </body>
</html>
