<html>
    <head><title>youtube queue</title></head>
    <body>
        <p>Showing an erb page</p>
        <p><%= 2 + 2 %></p>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/QBNIvqXmdKk" frameborder="0" allowfullscreen></iframe>

    </body>
</html>
