<html>
    <head><title>youtube queue</title></head>
    <body>
        <p>Showing an erb page</p>
        <p>embedded video time!</p>
        
        <form action='' method='post'>
            youtube url: <input type='text' name='url' />
            <input type='submit' />
        </form>
         
    </body>
</html>
