<html>
    <head><title>youtube queue</title></head>
    <body>
        <p>Showing an erb page</p>
        <p>embedded video time!</p>
        <iframe width="560" height="315" src="<%= vid_src  %>" frameborder="0" allowfullscreen></iframe>

    </body>
</html>
